<div id="hero-banner">
    <div id="hero-banner-box">
        <span id="hero-banner-title">
            DMC Delorean<br>
            3 Cup holders<br>
            Superman doors<br>
            Fuzzy dice! 
        </span>
        <button id="hero-banner-button">Own Today</button>
    </div>
</div>