<h1>Welcome to CSE Motors!</h1>
<%- include('partials/hero-banner') %>
<div id="main-content">
    <div id="main-content-upgrades">
        <h2>Delorean Upgrades</h2>
        <a href="#">
            <img src="images/upgrades/flux-cap.png" alt="Flux Capacitor Category">
            <span>Flux Capacitor</span>
        </a>
        <a href="#">
            <img src="images/upgrades/flame.jpg" alt="Flame Decals Category">
            <span>Flame Decals</span>
        </a>
        <a href="#">
            <img src="images/upgrades/bumper_sticker.jpg" alt="Bumper Stickers Category">
            <span>Bumper Stickers</span>
        </a>
        <a href="#">
            <img src="images/upgrades/hub-cap.jpg" alt="Hub Caps Category">
            <span>Hub Caps</span>
        </a>
    </div>
    <div id="main-content-reviews">
        <h2>DMC Delorean Reviews</h2>
        <ul>
            <li>"So fast it's almost traveling in time." (4/5)</li>
            <li>"Coolest ride on the road." (4/5)</li>
            <li>"I'm feelin McFly!" (5/5)</li>
            <li>"The most futuristic ride of our days." (4.5/5)</li>
            <li>"80's livin and I love it!" (5/5)</li>
        </ul>
    </div>
</div>